@media (min-width: 800px) {

	footer {
		margin-top: 99px;
		padding-top: 38px;
	}

	.footer-title {
		padding-top: 0;
		padding-left: 30px;
		float: left;
	}

	.menu-box {
		margin-left: 81px;
		padding-top: 0;
		float: left;
		text-align: left;
	}

	.menu {
		padding-top: 15px;
	}

	.menu__item {
		padding-right: 0;
		padding-bottom: 9px;
		display: block;
	}

	.partners-title {
		margin-left: 104px;
		padding-top: 0;
		float: left;
	}

	.designer {
		margin-right: 31px;
		padding-top: 0;
		float: right;
	}

	.designer__title {
		padding-bottom: 8px;
		text-align: right;
	}

}