body {
    font-family: sans-serif;
}

.wrapper {
	margin: 0 auto;
	margin-top: 100px;
	width: 1000px;
}

.item-list__item {
	padding-bottom: 10px;
    width: 400px;
	font-size: 18px;
}


.item-list__delete-button {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: white;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
}

.item-list__delete-button:hover {
    opacity: 0.6;
}


.item-list__edit-item {
	margin-right: 5px;
	margin-left: 30px;	
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.item-list__edit-item:hover {
    background-color: #e6e6e6;
}

.controlls {
	margin-top: 20px;
}

.controlls__button {
	margin-top: 10px;
}

.controlls__apply-item {
	margin-right: 10px;
	margin-left: 30px;	
    padding: 3px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.controlls__apply-item:hover {
    background-color: #e6e6e6;
}

.controlls__add-item {
    padding: 3px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.controlls__add-item:hover {
    background-color: #e6e6e6;
}
