/* ==========================================================================
   Media Queries
   ========================================================================== */



@media only screen and (min-width: 992px) {
	/****Ipad Landscape 1024 Container 970 ****/
	
	.service-list{ margin-bottom:30px;}
	.c-logo-part ul li{ margin:0 15px;}
	.form{ margin:0 0 0 20px}
	.main-nav{ display:block !important; }
	.main-nav li {
		width: 125px;
	}
	.main-nav li a{
		padding: 15px 0;
		/*width: 135px;*/
	}
	.Portfolio-nav li a{margin-bottom: 15px;}
	.row {
		display: block;
	}
	.client li a {
		width: 28%;
		padding-bottom: 30px;
	}
	/*.portfolioContainer{ width:800px; margin:0px auto !important; } */ 
	
}

@media only screen and (min-width: 1200px) {
	.client li a {
		width: 14%;
	}
	.main-nav li {
		width: 135px;
	}
}	
   
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/****Ipad Portrait 768 Container 750 ****/
	body{ font-size:13px;}
	p{ line-height:20px ;}
	/*.header h1{ font-size:46px;}*/
	/*.main-nav ul li a{ padding:14px;}*/
	.small-logo{ padding:0;}
	h2{ font-size:30px}
	h6{ font-size:16px;}
	h3{ font-size:15px;}
	.service-list{ margin-bottom:20px; font-size:15px;}
	.featured-work p.padding-b{ padding-bottom:15px;}
	.main-section{ padding:70px 0;}
	.c-logo-part ul li{ margin:0 1%; float:left; width:18%;}
	.c-logo-part ul li a{ display:block;}
	.c-logo-part ul li a img{ display:block;}
	.form{ margin:0;}
	.contact-info-box{ margin:0 ;}
	.social-link{ margin:0;}
	
	.main-nav{ display:block !important; }
	.main-nav li {
		width: 95px;
	}
	.main-nav li a{
		margin: 0;
		padding: 6px 0;
		font-size: 11px;
	}
	.Portfolio-nav li a{margin-bottom: 15px;}
	.row {
		display: block;
	}
	.client li a {
		width: 28%;
		padding-bottom: 30px;
	}
	.logo {
		width: 300px;
	}
	/*.portfolioContainer{ width:750px; margin:0px auto !important; }
	.Portfolio-box{ height:250px;}*/
	
	 
	
}

@media only screen and (max-width: 767px) {
	/****Mobile Landscape 480 Container 100% ****/
	body{ font-size:12px;}
	h2{ font-size:26px;}
	h3{ font-size:14px;}
	h6{ font-size:16px; margin-bottom:40px;}
	p{ line-height:18px;}
	.service-list{ font-size:12px; margin-bottom:20px;}
	.service-list-col2 p {
		font-size: 15px;
	}
	.we-create li{ font-size:13px; padding:0 0 0 8px}
	/*.header h1{ font-size:28px;}*/
	.header h1{ font-size:14px;}
	.header{ padding:60px 0;}
	.main-section{ padding:60px 0 70px;}
	.nav-overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 500;
	}
	.main-nav{ display:none; position:absolute; left:0; width:100%; top:68px; margin:0 auto; flote : none; background:#fff; z-index: 1000;}
	.main-nav li{ display:block;}
	.main-nav li.small-logo{ display:none;}
	.main-nav li a{ display:block; padding:7px 32px; border-bottom:none;}
	.main-nav li a:hover{color:white;}
	.team-leader-box{ max-width:307px; width:auto; float:none; margin:0 auto;	}
	.team-leader-box:nth-of-type(3n){ margin:0 auto}
	.res-nav_click{ display:block;}
	.featured-work{ font-size:12px; margin-top:30px;}
	.featured-box{ font-size:12px;}
	.featured-box p{ line-height:18px; }
	.c-logo-part ul a{ margin-bottom:5px;}
	.main-section.team{ padding:60px 0 0;}
	.business-talking h2{ font-size:36px;}
	.contact-info-box{ margin:0 0 12px 30px; font-size:12px;}
	.contact-info-box span{ line-height:18px;}
	.social-link{ margin-left:30px;} 
	.form{ margin:0 30px;}
	.copyright{ font-size:12px;}
	.business-talking a{ padding:10px 25px; font-size:14px;}
	.main-section.contact{ padding:60px 0 70px}
	.client-part-haead{ font-size:20px; line-height:30px;}
	.link{ font-size:14px; padding:10px 25px;}
	.logo{ width:180px;}
	.main-section.contact{ background-size:contain;}
	.Portfolio-nav li a{ 
		margin-bottom: 10px;
		padding:5px 16px;
	}
	.Portfolio-nav li{ display:block;}
	.row {
		display: block;
	}
	figure {
		text-align: center;
	}
	.featured-work h2 {
		text-align: center;
	}
	.client li {
		width: 48%;
		
	}
	.client li a {
		padding-bottom: 30px;
	}
	.h1-mobile {
	font-size: 29px;
	}
	.h4-mobile {
		font-size: 22px;
	}
	.col-lg-7 p {
		font-size: 15px;
	}
	.featured-box-col2 h3 {
		font-size: 18px;
	}
	.featured-box-col2 p {
		font-size: 15px;
	}
	.course-registration-link,
	.about-course {
		font-size: 14px;
	}

	.center {
		display: block;
	}
	/*.isotope-item img{ width:300px; left:50%; margin-left:-100px;}
	.isotope-item{ width:300px; margin:0px auto;}
	.isotope{ width:400px; margin:0px auto;}
	.Portfolio-box{}
	.portfolioContainer{ width:350px; margin:0px auto !important; } */
	
	
}

@media only screen and (max-width: 479px) {
	/****Mobile Portrait 320 ****/
	.contact-info-box{ margin-left:0px;}
	.header{ padding:40px;}
	.social-link{ margin-left:0px;}
	.form{ margin:0}
	.c-logo-part ul li{ display:block;}
	.Portfolio-box{  max-width:300px !important; width:90% !important; margin: 0 auto; margin-bottom: 30px; height: auto;}
	.Portfolio-box img { max-width:100%;}
	.portfolioContainer{ width:280px !important; margin:0 auto !important }
	h4 {
		font-size: 15px;
	}
	.Portfolio-box__footer {
		width: 230px;
		box-sizing: border-box;
	}
	.Portfolio-box__content h4 {
		padding: 0 10px;
	}

	header .modalDialog,
	section .modalDialog1 {
		top: 50%;
		left: 0;
		transform: none;
		transform: translateY(-50%);
		width: 100%;
		border-radius: 0px;
	}

	.modalDialog > div,
	.modalDialog1 > div {
		padding: 0 15px 15px 15px;
	}

	form .input-text {
		padding: 10px 15px;
		border:1px solid #ccc;
		height: auto;
		font-size:15px;
		margin:0 0 11px 0;
	}

	.scroll-top-btn {
		right: 15px;
		bottom: 15px;
		width: 25px;
	}
	
}