/* ==========================================================================
   Media Queries
   ========================================================================== */




@media only screen and (min-width: 992px) {
	/****Ipad Landscape 1024 Container 970 ****/
	
	.service-list{ margin-bottom:30px;}
	.c-logo-part ul li{ margin:0 15px;}
	.form{ margin:0 0 0 20px}
	.main-nav{ display:block !important; }
	.main-nav li {
		width: 125px;
	}
	.main-nav li a{
		padding: 15px 0;
		/*width: 135px;*/
	}
	.Portfolio-nav li a{margin-bottom: 15px;}

	.Portfolio-nav li {
		padding: 0 5px;
	}

	.course-filter__separator {
		height: 190px;
	}

	.row {
		/*display: block;*/
	}
	.client li {
		width: 28%;
		padding-bottom: 30px;
	}

	.team-leader-block__jcarousel-wrapper {
		width: 800px;
	}

	.team-leader-box__jcarousel-item {
		margin-right: 25px;
	    width: 250px;
	}

	.team-leader-box__jcarousel-item:nth-of-type(3n+0) {
		margin-right: 25px;
	}

	.team-leader-block__jcarousel-control-prev,
    .team-leader-block__jcarousel-control-next {
        /*display: block;*/
        /*position: absolute;*/
        font-size: 45px;
        /*transform: scaleY(3.3148);*/
        /*text-decoration: none;*/
        /*color: #87a9bd;*/
    }

    .team-leader-block__jcarousel-control-prev {
		top: 130px;
		left: -50px;
    }

    .team-leader-block__jcarousel-control-next {
        right: -50px;
    	top: 130px;
    }

    .team-leader-box {
    	height: 500px;
    }

    .about-course-preview__title {
	font-size: 40px;
	}
	
	.about-course-preview__content {
		font-size: 17px;
	}

	.about-course-in-detail__title {
		font-size: 25px;
	}

	.about-course-in-detail__box {
		font-size: 17px;
	}

	.team h2 {
		font-size: 40px;
	}

	.course-filter-top {
		font-size: 24px;
	}

	.course-filter__title {
		font-size: 20px;
	}

	.alabaster .video-stream {
		width: 100%;
		height: 185px;
	}

	/*.portfolioContainer{ width:800px; margin:0px auto !important; } */ 
	
}



@media only screen and (min-width: 1200px) {
	.client li {
		width: 14%;
	}
	.main-nav li {
		width: 135px;
	}

	.about-course-preview__title {
		font-size: 48px;
	}

	.about-course-preview__content {
		font-size: 18px;
	}

	.about-course-in-detail__box {
		font-size: 18px;
	}

	.about-course-in-detail__title {
		font-size: 26px;
	}

	.team h2 {
		font-size: 48px;
	}

	.team-leader-block__jcarousel-wrapper {
		width: 980px;
	}

	.team-leader-box__jcarousel-item {
		margin-right: 35px;
	    width: 300px;
	}

	.team-leader-box__jcarousel-item:nth-of-type(3n+0) {
		margin-right: 35px;
	}

	.team-leader-block__jcarousel-control-prev,
    .team-leader-block__jcarousel-control-next {
        font-size: 55px;
    }

    .team-leader-block__jcarousel-control-prev {
		top: 150px;
		left: -60px;
    }

    .team-leader-block__jcarousel-control-next {
        right: -60px;
    	top: 150px;
    }

    .team-leader-box {
    	height: 490px;
    }

    .course-filter__separator {
	/*margin: 0 auto;*/
	position: absolute;
	top: 25px;
	left: 50%;
	width: 2px;
	height: 125px;
	background-color: #41a5fb;
	}

	.Portfolio-nav{
	padding:0;
	margin:0 0 45px 0;
	list-style:none;
	text-align:justify;
	}
	
	.Portfolio-nav li{
		margin:0 0;
		padding: 0;
		display:inline-block;
	}

	.alabaster .video-stream {
		width: 100%;
		height: 280px;
	}


}	


   
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/****Ipad Portrait 768 Container 750 ****/
	body{ font-size:13px;}
	p{ line-height:20px ;}
	/*.header h1{ font-size:46px;}*/
	/*.main-nav ul li a{ padding:14px;}*/
	.small-logo{ padding:0;}
	h2{ font-size:30px}
	h6{ font-size:16px;}
	h3{ font-size:15px;}
	.service-list{ margin-bottom:20px; font-size:15px;}
	.featured-work p.padding-b{ padding-bottom:15px;}
	.main-section{ padding:65px 0;}
	.c-logo-part ul li{ margin:0 1%; float:left; width:18%;}
	.c-logo-part ul li a{ display:block;}
	.c-logo-part ul li a img{ display:block;}
	.form{ margin:0;}
	.contact-info-box{ margin:0 ;}
	.social-link{ margin:0;}
	
	.main-nav{ display:block !important; }
	.main-nav li {
		width: 95px;
	}
	.main-nav li a{
		margin: 0;
		padding: 6px 0;
		font-size: 11px;
	}
	.Portfolio-nav li a{margin-bottom: 15px;}
	.row {
		/*display: block;*/
	}
	.client li {
		width: 28%;
		padding-bottom: 30px;
	}
	.logo {
		width: 300px;
	}


	
	.about-course-preview__title {
	font-size: 34px;
	}

	.about-course-preview__content {
		font-size: 15px;
	}

	.about-course-in-detail__box {
		font-size: 15px;
	}

	.about-course-in-detail__title {
		font-size: 22px;
	}

	.team h2 {
		font-size: 34px;
	}

	.team-leader-block__jcarousel-wrapper {
		width: 625px;
	}

	.team-leader-box__jcarousel-item {
		margin-right: 20px;
	    width: 195px;
	}

	.team-leader-box__jcarousel-item:nth-of-type(3n+0) {
		margin-right: 20px;
	}

	.team-leader-block__jcarousel-control-prev,
    .team-leader-block__jcarousel-control-next {
        font-size: 35px;
    }

    .team-leader-block__jcarousel-control-prev {
		top: 115px;
		left: -40px;
    }

    .team-leader-block__jcarousel-control-next {
        right: -40px;
    	top: 115px;
    }

    .team-leader-box {
    	height: auto;
    }

    .team-leader-block {
    	padding-bottom: 40px;
    }

    .scroll-top-btn {
    	width: 35px;
    }

    .course-filter-top {
		font-size: 22px;
	}

	.course-filter__title {
		font-size: 20px;
	}

	.Portfolio-nav li {
		padding: 0 6px;
	}

	.course-filter__separator {
		height: 230px;
	}

	.Portfolio-nav {
		text-align: center;
	}

	.alabaster .video-stream {
		width: 100%;
		height: 145px;
	}
	 
	
}

@media only screen and (max-width: 767px) {
	/****Mobile Landscape 480 Container 100% ****/
	body{ font-size:12px;}
	h2{ font-size:26px;}
	h3{ font-size:14px;}
	h6{ font-size:16px; margin-bottom:40px;}
	p{ line-height:18px;}
	.service-list{ font-size:12px; margin-bottom:20px;}
	.service-list-col2 p {
		font-size: 15px;
	}
	.we-create li{ font-size:13px; padding:0 0 0 8px}
	/*.header h1{ font-size:28px;}*/
	.header h1{ font-size:14px;}
	.header{ padding:60px 0;}
	.main-section{ padding:60px 0 70px;}
	.nav-overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 500;
	}
	.main-nav{ display:none; position:absolute; left:0; width:100%; top:68px; margin:0 auto; flote : none; background:#fff; z-index: 1000;}
	.main-nav li{ display:block;}
	.main-nav li.small-logo{ display:none;}
	.main-nav li a{ display:block; padding:7px 32px; border-bottom:none;}
	.main-nav li a:hover{color:white;}
	.team-leader-box{ max-width:307px; width:auto; float:none; margin:0 auto;	}
	.team-leader-box:nth-of-type(3n){ margin:0 auto}
	.res-nav_click{ display:block;}
	.featured-work{ font-size:12px; margin-top:30px;}
	.featured-box{ font-size:12px;}
	.featured-box p{ line-height:18px; }
	.c-logo-part ul a{ margin-bottom:5px;}
	.main-section.team{ padding:60px 0 0;}
	.business-talking h2{ font-size:36px;}
	.contact-info-box{ margin:0 0 12px 30px; font-size:12px;}
	.contact-info-box span{ line-height:18px;}
	.social-link{ margin-left:30px;} 
	.form{ margin:0 30px;}
	.copyright{ font-size:12px;}
	.business-talking a{ padding:10px 25px; font-size:14px;}
	.main-section.contact{ padding:60px 0 70px}
	.client-part-haead{ font-size:20px; line-height:30px;}
	.link{ font-size:14px; padding:10px 25px;}
	.logo{ width:180px;}
	.main-section.contact{ background-size:contain;}
	.Portfolio-nav li a{ 
		margin-bottom: 10px;
		padding:5px 16px;
	}
	.Portfolio-nav li{ display:block;}
	.row {
		display: block;
	}
	figure {
		text-align: center;
	}
	.featured-work h2 {
		text-align: center;
	}
	.client li {
		width: 46%;
		padding-bottom: 30px;
	}
	.client li a {
	}
	.h1-mobile {
	font-size: 29px;
	}
	.h4-mobile {
		font-size: 22px;
	}
	.col-lg-7 p {
		font-size: 15px;
	}
	.featured-box-col2 h3 {
		font-size: 18px;
	}
	.featured-box-col2 p {
		font-size: 15px;
	}
	.course-registration-link,
	.about-course {
		font-size: 14px;
	}

	.center {
		display: block;
	}


 .team-leader-box {
    	margin: 0 auto;
    	margin-bottom: 60px;
    	height: auto;
    	width: 280px;
    }

    .team-leader-block {
    	padding-bottom: 40px;
    }

	.about-course-preview__title {
	font-size: 30px;
	}

	.about-course-in-detail__title {
		font-size: 20px;
	}

	.about-course-preview__box {
		display: block;
	}

	.about-course-in-detail__box {
		display: block;
		font-size: 14px;
	}

	.about-course-preview__content {
		margin: 0 auto;
		padding-top: 20px;
		width: 90%;
		font-size: 14px;
	}

	.about-course-in-detail__content {
		margin: 0 auto;
		padding-bottom: 20px;
		width: 90%;
	}

	.about-course-preview__img {
		display: block;
		margin: 0 auto;
		width: 80%;
	}

	.about-course-in-detail__img {
		display: block;
		margin: 0 auto;
		width: 80%;
	}

	.team h2 {
		font-size: 30px;
	}

	.team-leader-block__jcarousel-wrapper {
		padding-bottom: 30px;
		width: 250px;
	}

	.team-leader-box__jcarousel-item {
		margin-right: 5px;
		margin-left: 5px;
		float: left;
	    width: 240px;
	}

	
	.team-leader-box:nth-of-type(3n+0) {
		margin: 0 auto;
		margin-bottom: 60px;
	}

	.team-leader-box__jcarousel-item:nth-of-type(3n+0) {
		margin-right: 5px;
		margin-left: 5px;
	}

	.team-leader-block__jcarousel-control-prev,
    .team-leader-block__jcarousel-control-next {
        font-size: 30px;
    }

    .team-leader-block__jcarousel-control-prev {
		top: 95px;
		left: -35px;
    }

    .team-leader-block__jcarousel-control-next {
        right: -35px;
    	top: 95px;
    }

    .scroll-top-btn {
    	right: 20px;
    	bottom: 20px;
    	width: 30px;
    }

    .course-filter-top {
		font-size: 20px;
	}

	.course-filter__title {
		font-size: 19px;
	}

	.Portfolio-nav li {
		padding: 0 6px;
		display: inline-block;
	}

	.Portfolio-nav {
		margin-bottom: 30px;
	}

	.course-filter__separator {
		display: none;
		height: 230px;
	}

	.Portfolio-nav {
		text-align: center;
	}

	.course-filter__left {
		margin: 0 auto;
		float: none;
		padding: 0 20px;
		width: 90%;
	}

	.course-filter__right {
		margin: 0 auto;
		float: none;
		padding: 0 20px;
		width: 90%;
	}

	.alabaster .video-stream {
		width: 290px;
		height: 185px;
	}

   
	/*.isotope-item img{ width:300px; left:50%; margin-left:-100px;}
	.isotope-item{ width:300px; margin:0px auto;}
	.isotope{ width:400px; margin:0px auto;}
	.Portfolio-box{}
	.portfolioContainer{ width:350px; margin:0px auto !important; } */
	
	
}

@media only screen and (max-width: 479px) {
	/****Mobile Portrait 320 ****/
	.contact-info-box{ margin-left:0px;}
	.header{ padding:40px;}
	.social-link{ margin-left:0px;}
	.form{ margin:0}
	.c-logo-part ul li{ display:block;}
	.Portfolio-box{  max-width:300px !important; width:90% !important; margin: 0 auto; margin-bottom: 30px; height: auto;}
	.Portfolio-box img { max-width:100%;}
	.portfolioContainer{ width:280px !important; margin:0 auto !important }
	h4 {
		font-size: 15px;
	}
	.Portfolio-box__footer {
		width: 230px;
		box-sizing: border-box;
	}
	.Portfolio-box__content h4 {
		padding: 0 10px;
	}

	header .modalDialog,
	section .modalDialog1 {
		top: 50%;
		left: 0;
		transform: none;
		transform: translateY(-50%);
		width: 100%;
		border-radius: 0px;
	}

	.modalDialog > div,
	.modalDialog1 > div {
		padding: 0 15px 15px 15px;
	}

	form .input-text {
		padding: 10px 15px;
		border:1px solid #ccc;
		height: auto;
		font-size:15px;
		margin:0 0 11px 0;
	}

	.scroll-top-btn {
		right: 15px;
		bottom: 15px;
		width: 25px;
	}

	.Portfolio-nav {
		margin-bottom: 30px;
	}

	.course-filter__separator {
		display: none;
		height: 230px;
	}

	.Portfolio-nav {
		text-align: center;
	}

	.course-filter__left {
		margin: 0 auto;
		float: none;
		padding: 0;
		width: 100%;
	}

	.course-filter__right {
		margin: 0 auto;
		float: none;
		padding: 0;
		width: 100%;
	}
	
}