@media screen and (min-width: 1210px) {

			/* ---------->>>   BEGIN PROMO-7   <<<<---------------*/
	
	.promo-title-h2--promo-7-size {
		padding-top: 29px;
		padding-left: 0;
	}

	.promo-title-h3--promo-7-size {
		padding-top: 6px;
		padding-left: 0;
		font-size: 24px;
	}

	.promo-title-h4 {
		padding-top: 18px;
		padding-bottom: 26px;
		font-size: 18px;
	}


	
		/*------------>>>>    BEGIN SIGN SECTION     <<<<<---------------*/

	.register {
		padding-bottom: 28px;
		position: relative;
		overflow: hidden;
	}

	.register__bg-girl-desktop {
		position: absolute;
		top: 0;
		right: 60%;
		background: url('../img/register-bg-girl-desktop.png') no-repeat;
		width: 593px;
		height: 520px;
	}

	.register__title-h2 {
		padding-top: 11px;
		font-size: 47px;
	}

	.register__title-h3 {
		padding-top: 15px;
		padding-bottom: 5px;
		font-size: 30px;
	}

	.register__title-h4 {
		font-size: 24px;
	}

	.register__form {
		margin: 0 auto;
		padding-top: 38px;
		padding-left: 275px;
		float: none;
		display: inline-block;
		width: auto;
	}

	.register__input-field {
		margin: 0 auto;
		margin-bottom: 23px;
		padding: 12px 18px;
		display: block;
		width: 370px;
		font-size: 18px;
	}

	.register__submit {
		padding: 10px 37px;
		font-size: 22px;
	}

	.gift {
		margin-top: -10px;
		margin-right: 17px;
		float: right;
	}

	.gift__plus {
		top: 96px;
		left: -73px;
		font-size: 84px;
	}

	.gift__img {
		padding-bottom: 13px;
		width: 246px;
	}

	.conditions {
		line-height: 14px;
	}

}