$font-family-roboto-light:							"Roboto Light";
$font-family-roboto-black-italic:					"Roboto BlackItalic";
$font-family-roboto-regular:						"Roboto Regular";
$font-family-roboto-thin:							"Roboto Thin";
$font-family-roboto-black:							"Roboto Black";
$font-family-roboto-bold:							"Roboto Bold";
$font-family-roboto-italic:							"Roboto Italic";
$font-family-cormorant-infant-bold-italic:			"Cormorant Infant BoldItalic";

$bg-register-button:								#1cb100;