@media screen and (min-width: 960px) {

	.footer-title {
		padding-left: 0;
	}

	.menu-box {
		margin-left: 94px;
	}

	.partners-title {
		margin-left: 93px;
	}

	.designer {
		margin-right: 0;
	}

}