@media (min-width: 320px) {

	header {
		height: 540px;
		background: url('../img/header-bg-mobile.jpg') no-repeat center center;
		font-family: $font-family-montserrat;
		color: white;
		text-align: center;
		font-size: 14px;
	}

	.container {
		margin: 0 auto;
		width: 300px;
		text-align: center;
	}

	.login-box {
		padding-top: 21px;
		text-align: center;
	}

	.login-box__login {
		display: inline-block;
		margin-right: 15px;
		text-decoration: none;
		color: white;
	}

	.login-box__sign-up {
		padding: 9px 16px;
		display: inline-block;
		text-decoration: none;
		border: 2px solid white;
		border-radius: 25px;
		color: white;
	}

	.header-logo {
		padding-top: 116px;
		font-size: 20px;
		letter-spacing: 1px;
	}

	.header-title-h1 {
		padding-top: 32px;
		font-size: 30px;
		line-height: 35px;
	}

	.header-title-h2 {
		margin: 0 auto;
		margin-bottom: 33px;
		padding-top: 11px;
		width: 225px;
		font-size: 18px;
		font-family: $font-family-roboto-light;
	}

	.header-find-partners-btn {
		padding: 10px 52px;
		text-decoration: none;
		color: white;
		background-color: $main-color-style;
		border-radius: 20px;
	}

}