@media screen and (min-width: 800px) {

	.clearfix:after {
		content: "";
		display: block;
		clear: both;
	}

	header {
		height: 700px;
		background: url('../img/header-bg-tablet.jpg') no-repeat center center;
	}

	.container {
		width: 750px;
	}

	.login-box {
		float: right;
		padding-top: 39px;
		padding-right: 41px;
	}

	.header-logo {
		float: left;
		padding-top: 49px;
		padding-left: 39px;
	}

	.header-title-h1 {
		margin: 0 auto;
		padding-top: 142px;
		width: 510px;
		font-size: 52px;
		line-height: 62px;
	}

	.header-title-h2 {
		margin-bottom: 49px;
		padding-top: 26px;
		width: 500px;
		font-size: 24px;
	}

	.header-find-partners-btn {
		padding: 12px 24px;
	}

}