@media screen and (min-width: 0px) and (max-width : 799px) {

    .how-it-works__title {
        margin-top: 37px;
        margin-bottom: 16px;
        font-family: $font-family-montserrat-bold;
        font-size: 22px;
    }


    /** Carousel **/

    .jcarousel {
        position: relative;
        padding-bottom: 10px;
        overflow: hidden;
    }

    .jcarousel__list {
        width: 20000em;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .jcarousel__item {
        float: left;
        display: block;
        border-radius: 4px;
        width: 300px;
        height: 240px;
    }

    .jcarousel__item--step-1-image {
        background: url('../img/step-1-slider-mobile.jpg') no-repeat;
    }

    .jcarousel__item--step-2-image {
        background: url('../img/step-2-slider-mobile.jpg') no-repeat;
    }

    .jcarousel__item--step-3-image {
        background: url('../img/step-3-slider-mobile.jpg') no-repeat;
    }

    .jcarousel__control-prev,
    .jcarousel__control-next {
        display: none;
    }

        /** End Carousel **/

        

    .steps {
        position: absolute;
        top: 69px;
        left: 20px;
        text-align: left;
    }

    .steps--step-2 {
        top: 100px;
    }

    .steps__logo {
        padding: 4px 15px;
        background-color: $main-color-style;
        border-radius: 12px;
        letter-spacing: 1px;
        font-size: 11px;
        font-family: $font-family-montserrat;
        color: white;
    }

    .steps__title {
        margin-top: 20px;
        font-size: 24px;
        font-family: $font-family-montserrat-bold;
        line-height: 28px;
        color: white;
    }

    .steps__content {
        margin-top: 14px;
        padding-right: 10px;
        font-size: 14px;
        font-family: $font-family-roboto-light;
        color: #b0aeab;
        line-height: 16px;
    }


}