@media screen and (min-width: 800px) {

	.ideas {
		margin-top: 98px;
	}

	.grid {
		margin-top: 35px;
	}

	.grid__item {
		margin-bottom: 17px;
		width: 236px;
		height: 311px;
	}

	.grid__item--width-2x {
		width: 492px;
	}

}