@media screen and (min-width: 0px) {

	.meet-partners {
		padding-top: 29px;
	}
	
	.meet-partners__title {
		font-size: 22px;
		font-family: $font-family-montserrat-bold;
	}

	.partner {
		margin-top: 19px;
		margin-bottom: 28px;
		position: relative;
		text-align: center;
	}

	.partner__avatar {
		width: 121px;
		height: 121px;
	}

	.partner__icon-sprite {
		position: absolute;
		top: 84px;
		right: 86px;
		width: 40px;
		height: 40px;
	}

	.partner__icon-sprite--icon-1 {
		background: url('../img/partner-sprite.png') no-repeat;
	}

	.partner__icon-sprite--icon-2 {
		background: url('../img/partner-sprite.png') 0 -96px no-repeat;
	}
	
	.partner__icon-sprite--icon-3 {
		background: url('../img/partner-sprite.png') 0 -48px no-repeat;
	}

	.partner__icon-sprite--icon-4 {
		background: url('../img/partner-sprite.png') 0 -145px no-repeat;
	}

	.partner__name {
		margin-top: 16px;
		margin-bottom: 15px;
		font-size: 14px;
		font-family: $font-family-montserrat-bold;
	}

	.partner__description {
		padding: 0 40px;
		font-size: 14px;
		font-family: $font-family-roboto-light;
		color: #666666;
		line-height: 16px;
	}

	.see-other-partners {
		margin: 0 auto;
		padding: 11px 0;
		display: block;
		width: 276px;
		font-family: $font-family-montserrat-bold;
		font-size: 14px;
		color: $main-color-style;
		border: 2px solid $main-color-style;
		border-radius: 20px;
		text-decoration: none;
	}


}