@media screen and (min-width: 800px) {

	.partner {
		margin-top: 19px;
		margin-bottom: 28px;
	}

	.partner--tablet-desktop-1 {
		float: left;
		top: 14px;
		left: 97px;
		width: 300px;
	}

	.partner--tablet-desktop-2 {
		float: right;
		top: 15px;
		right: 97px;
		width: 300px;
	}
	
	.partner--tablet-desktop-3 {
		float: left;
		top: 25px;
		left: 97px;
		width: 300px;
	}

	.partner--tablet-desktop-4 {
		float: right;
		top: 25px;
		right: 97px;
		width: 300px;
	}

	.see-other-partners {
		margin-top: 36px;
		width: 190px;
	}


}