@media (min-width: 800px) {

	.search-partner {
		margin-top: 82px;
	}

	.search-partner__title-h2 {
		margin-top: 33px;
		margin-bottom: 41px;
	}

	.search-partner__search-field {
		display: inline;
		width: 240px;
	}

	.search-partner__search-button {
		margin-top: 0;
		margin-left: 5px;
		width: 160px;
	}

}