@import 'reset';
@import 'variables';

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


				/**     MOBILE    **/

@import 'header-mobile';

@import 'how-it-works-mobile';

@import 'partners-mobile';

@import 'ideas-mobile';

@import 'search-partners-mobile';

@import 'footer-mobile';



                /**      TABLET       **/

@import 'header-tablet';

@import 'how-it-works-tablet';

@import 'partners-tablet';

@import 'ideas-tablet';

@import 'search-partners-tablet';

@import 'footer-tablet';



                /**      DESKTOP       **/

/*@import 'header-desktop';*/

/*@import 'how-it-works-desktop';*/

/*@import 'partners-desktop';*/

/*@import 'ideas-desktop';*/

/*@import 'search-partners-desktop';*/

/*@import 'footer-desktop';*/