$font-family-montserrat:							Montserrat;
$font-family-montserrat-bold:						"Montserrat Bold";
$font-family-roboto-light:							"Roboto Light";

/*$font-size-main:									14px;*/
/*$font-size-logo:									20px;*/
/*$font-size-header-title-h1:							30px;*/
/*$font-size-header-title-h2:							18px;*/
/*$foont-size-how-it-works-title:						22px;*/
/*$font-size-footer-title:							16px;*/
/*$font-size-footer-contacts:							12px;*/



$main-color-style:									#ff4e50;

/*$menu-item-active:									#248cec;
$menu-item-last-border:								#181a1d;
$menu-link-hover:									#f4b60d;

$presentation-mark-color:							#e8e8e9;
$link-color:										#248cec;
$link-hover-color:									#248cec;
$content-color:										#8a8a8a;



$footer-menu-color:									#828385;
$footer-contacts-color:								#828385;*/