.partners {
	padding-top: 85px;
	padding-bottom: 87px;
	text-align: center;
}

.partners__logo {
	padding-right: 45px;
}

.partners__logo:last-child {
	padding: 0;
}

.footer-top {
	padding-top: 62px;
	padding-bottom: 70px;
	background-color: $main-background;
}

.site-links {
	margin-right: 40px;
	float: left;
	width: 260px;
}

.site-links:last-child {
	margin: 0;
}

.site-links__title {
	padding-bottom: 32px;
	font-family: $font-family-ubuntu;
	font-size: $font-size-footer-title;
	color: white;
	font-weight: bold;
}

.site-links__item {
	padding: 10px 0;
	border-bottom: 1px solid #36393e;
}

.site-links__item:last-child {
	border-bottom: none;
}

.site-links__link {
	font-family: $font-family-arial;
	font-size: $font-size-content;
	color: $footer-menu-color;
	text-decoration: none;
}

.site-links__link:hover {
	color: $link-hover-color;
}

.footer-bottom {
	padding: 22px 0;
	background-color: #323539;
	font-family: $font-family-arial;
	font-size: $font-size-footer-contacts;
	color: $footer-contacts-color;
}

.footer-contacts {
	padding-top: 2px;
	padding-right: 30px;
	padding-bottom: 2px;
	padding-left: 21px;
	float: left;
}

.footer-contacts:nth-child(1) {
	background: url(../img/location.png) no-repeat;
}

.footer-contacts:nth-child(2) {
	background: url(../img/phone.png) no-repeat;
}

.footer-contacts:nth-child(3) {
	background: url(../img/email.png) no-repeat;
}

.copyrights {
	float: right;
}