body {
    font-family: sans-serif;
}


        /*    TAB MENU     */

.tab-container {
    margin: 0 auto;
    margin-top: 100px;
    padding: 5px;
    width: 700px;
    border: 1px solid #CBCBCB;
    border-radius: 5px;
}

.tab-menu {
    padding-left: 10px;
    background: linear-gradient(to top, #cfcfcf, #E5E5E5);
    border: 1px solid #A8A8A8;
    border-radius: 5px;
}

.tab-menu__item {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 7px;
}

.tab-menu__link {
    padding: 10px 10px 7px 10px;
    text-decoration: none;
    color: #9D9D9D;
    background-color: #F1F1F1;
    border: 1px solid #F1F1F1;
    border-bottom: 1px solid #A8A8A8;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
}

.tab-menu__link--hover {
    color: black;
    border: 1px solid #A8A8A8;
    background-color: #DFDFDF;
}

.tab-menu__link--active {
    padding-bottom: 8px;
    background-color: white;
    border: 1px solid #A8A8A8;
    border-bottom: none;
    color: black;
}

.tab-menu__link--active-hover {
    padding-bottom: 8px;
    background-color: white;
    border: 1px solid #A8A8A8;
    border-bottom: none;
    color: black;
    cursor: text;
}

.tab {
    display: none;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.active {
    display: block;
}



        /*        ***** TOOLTIP  ****          */




.form-container {
    margin: 0 auto;
    padding-top: 100px;
    width: 700px;
}

label {
    display: inline-block;
    width: 100px;
    font-size: 12px;
}

.input-field {
    position: relative;
    margin: 15px 0;
}

.tooltip {
    position: absolute;
    margin-left: 10px;
    padding: 5px;
    width: 210px;
    transition: 2s;
    visibility: hidden;
    opacity: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 1px rgb(155, 155, 155);
    font-size: 12px;
}

.visible-tooltip {
    visibility: visible;
    opacity: 1;
    transition: 2s;
}

.help-button {
    padding: 5px 10px;
    background: #F0F0F0;
    font-size: 12px;
    color: grey;
    border-radius: 5px;
}

.help-button:hover {
    cursor: pointer;
}