.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

.additional-information {
	padding-top: 60px;
	padding-bottom: 58px;
	background-color: #f7f7f7;
	font-family: $font-family-ubuntu;
}

.news {
	float: left;
	width: 575px;
}

.news__title {
	margin-bottom: 45px;
	font-size: $foont-size-news-title;
	font-weight: bold;
}

.news__image {
	float: left;
	margin-bottom: 20px;
	position: relative;
	width: 150px;
}

.news-date {
	position: absolute;
	top: 12px;
	left: -17px;
	font-size: 15px;
	font-weight: bold;
}

.news-month {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	color: white;
	background-color: #248cec;
}

.news-day {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: #f4b60d;
}

.news__container {
	float: left;
	padding-left: 32px;
	width: 380px;
	line-height: 20px;
	font-family: $font-family-arial;
	color: $content-color;
	font-size: $font-size-content;
}

.news__content-news-title {
	display: block;
	padding-top: 2px;
	font-family: $font-family-ubuntu;
	font-size: 16px;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.news__content-news-title:hover {
	color: $link-hover-color;
}

.news__comments {
	color: $link-color;
	text-decoration: none;
}

.news__content {
	padding-top: 23px;
}

.news__news-2 {
	padding-top: 10px;
}




.banners {
	float: right;
	width: 560px;
	font-size: $font-size-content;
}

.banners__title {
	margin-bottom: 45px;
	font-size: $foont-size-news-title;
	font-weight: bold;
}

.accordion__item {
	padding-top: 5px;
}

.accordion__link {
	background-color: white;
	border: 1px solid #e8e8e8;
	box-sizing: border-box;
	height: 40px;
}

.accordion__link:hover {
	color: white;
	border: none;
	background-color: #f4b60d;
	cursor: pointer;
}

.accordion__link--active {
	color: white;
	border: none;
	background-color: #f4b60d;
	cursor: pointer;
}

.accordion__plus-minus {
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 37px;
	height: 40px;
	font-size: 20px;
}

.accordion__title {
	float: left;
	display: flex;
	align-items: center;
	padding-left: 15px;
	border-left: 1px solid #e8e8e8;
	height: 40px;
	font-weight: bold;
}

.accordion__content {
	display: none;
	padding-top: 25px;
	padding-left: 40px;
	overflow: hidden;
	height: 100px;
	color: $content-color;
	line-height: 20px;
	font-family: $font-family-arial;
}