.jcarousel-wrapper {
    margin-top: 40px;
    position: relative;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    height: 8px;
    width: 8px;
    background: #fff;
    color: #4E443C;
    text-indent: -9999px;
    border: 3px solid white;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
}