.presentation {
	position: relative;
	padding-top: 65px;
	padding-right: 20px;
	display: inline-block;
	font-family: $font-family-ubuntu;
}

.presentation__mark {
	position: absolute;
	font-size: $font-size-presentation-mark;
	color: $presentation-mark-color;
}

.presentation__title {
	padding: 20px 0;
	font-size: $font-size-presentation-title;
	font-weight: bold;
}

.presentation__section {
	margin-left: 123px;
	width: 240px;
	font-size: $font-size-content;
}

.presentation__content {
	margin-bottom: 19px;
	overflow: hidden;
	height: 60px;
	font-family: $font-family-arial;
	color: $content-color;
	line-height: 20px;
}


.presentation__link {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.presentation__link:hover {
	color: $link-hover-color;
}

.presentation__arrow {
	padding-left: 3px;
}