$font-family-ubuntu:								Ubuntu;
$font-family-ubuntu-condens:						"Ubuntu Condensed";
$font-family-arial:									Arial;

$font-size-form-input:								12px;
$font-size-main-menu:								14px;
$font-size-presentation-mark:						90px;
$font-size-presentation-title:						20px;
$font-size-content:									13px;
$foont-size-news-title:								24px;
$font-size-footer-title:							16px;
$font-size-footer-contacts:							12px;



$main-background:									#2a2d32;

$menu-item-active:									#248cec;
$menu-item-last-border:								#181a1d;
$menu-link-hover:									#f4b60d;

$presentation-mark-color:							#e8e8e9;
$link-color:										#248cec;
$link-hover-color:									#248cec;
$content-color:										#8a8a8a;



$footer-menu-color:									#828385;
$footer-contacts-color:								#828385;