@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


body {
    font-family: sans-serif;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

.header {
    height: 869px;
    background: url("../img/bg-header.jpg") center center no-repeat;
    background-size: cover;
	border-bottom: 1px solid #302037;
}

.logo {
    float: left;
    margin-top: 70px;
}

.menu {
    float: right;
    margin-top: 74px;
    margin-right: -2px;
}

.menu__item {
    display: inline-block;
    margin-left: 37px;
}

.menu__link {
    display: block;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    color: white;
    font-size: 24px;
    font-family: "League Gothic";
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid transparent;    
}

.menu__item:first-child {
    margin-left: 0;
}

.menu__link:hover {
    border-bottom: 3px solid #eec0ff;    
}

.menu-mobile {
    display: none;
}

.background-header-transparent {
    position: absolute;
    top: 278px;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.slider {
    position: relative;
    top: 248px;
    z-index: 4;
}


.slider__slid-content {
    position: absolute;
    float: left;
    width: 525px;
    font-family: "League Gothic";
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__slid-content h1 {
    color: #fefefe;
    font-size: 60px;
    letter-spacing: -0.5px;
}

.slider__slid-content h2 {
    color: #eebfff;
    font-size: 32px;
}

.slider__slid-content p {
    padding-top: 3px;
    color: white;
    font-size: 18px; 
    font-family: "Open Sans Light";
    line-height: 25px;
}

.slider__iphone {
    position: absolute;
    float: right;
    top: -96px;
    left: 693px;
}

.slider__iphone__iphone-fg {
    position: absolute;
    z-index: 7;
}

.slider__iphone__iphone-bg {
    position: absolute;
    top: 78px;
    left: -77px;
    z-index: 6;
}

.slider__iphone__play-button {
    position: absolute;
    top: 149px;
    left: 60px;
    z-index: 8;
}

.slider-nav {
    position: absolute;
    right: 168px;
    bottom: -432px;
}

.slider-nav__item {
    display: inline-block;
    background-color: #40414b;
    behavior: url("border-radius.htc");
    border-radius: 10px;
    width: 17px;
    height: 17px;
}

.slider-nav__link {
    display: block;
    width: 17px;
    height: 17px
}

.slider-nav__item:nth-child(2) {
    background: url("../img/slider-nav-white.png") no-repeat;
}

.about-company {
    margin-top: -25px;
    background-image: -moz-linear-gradient(top, #33253a 0%, #754f84 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#754f84,endColorstr=#33253a,GradientType=0);
    background: linear-gradient(to top, #33253a 0%, #754f84 100%);
	border-bottom: 2px solid #050d14;
}

.about-company__content {
    padding-top: 77px;
    padding-bottom: 69px;
    padding-left: 12px;
}

.sprite-left {
    float: left;
    margin-top: 9px;
    background: url("../img/sprite.png") no-repeat;
    width: 24px;
    height: 25px;
}

.about-company__left {
    float: left;
    margin-right: 50px;
    padding-left: 28px;
    width: 235px;
}

.sprite-center {
    float: left;
    margin-top: 9px;
    background: url("../img/sprite.png") -29px 0 no-repeat;
    width: 27px;
    height: 25px;
}

.about-company__center {
    float: left;
    margin-right: 50px;
    padding-left: 28px;
    width: 235px;
}

.sprite-right {
    float: left;
    margin-top: 9px;
    background: url("../img/sprite.png") -61px 0 no-repeat;
    width: 23px;
    height: 25px;
}

.about-company__right {
    float: right;
    margin-right: -15px;
    width: 235px;
}

.about-company__content h1 {
    font-size: 30px;
    font-family: "League Gothic";
    color: white;
    text-shadow: 0px 1px 0px #0f1518;
}

.about-company__content p {
    padding-top: 8px;
    overflow: hidden;
    height: 121px;
    font-size: 16px;
    font-family: "Open Sans Light";
    color: white;
    line-height: 25px;
    text-shadow: 0px 1px 0px #0f1518;
}

.about-company__content a {
    display: block;
    margin-top: 19px;
    margin-right: 20px;
    font-size: 18px;
    font-family: "League Gothic";
    color: white;
    text-align: right;
    text-decoration: none;
}

.about-company__content a:hover {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}


.main {
    background: #f9f9f9;
}

.testimonials {
    position: relative;
    float: left;
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: 23px;
    width: 430px;
}

.testimonials__content {
    padding-bottom: 56px;
    background: url("../img/testimonials-bg.png") no-repeat;
}

.testimonials__avatar {
    position: absolute;
    top: 18px;
    left: -23px;
}

.testimonials__title {
    padding-top: 29px;
    padding-left: 40px;
    font-size: 30px;
    font-family: "League Gothic";
    color: #454545;
    text-shadow: 0px 1px 0px #ffffff;
}

.testimonials__title--pink {
    color: #edbfff;
}

.testimonials__text {
    padding-top: 8px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
    height: 173px;
    font-size: 16px;
    font-family: "Open Sans Light";
    line-height: 24px;
    color: #454545;
    text-shadow: 0px 1px 0px #ffffff;
}

.slider-nav--testimonials {
    position: static;
    text-align: center;
}

.slider-nav__item--testimonials {
    background-color: white;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
}

.slider-nav__item--testimonials:nth-child(2) {
    background: url("../img/slider-nav-black.png") 2px 2px no-repeat;
}

.news {
    float: right;
    margin-top: 100px;
}

.news-title {
    padding-top: 29px;
    font-size: 30px;
    font-family: "League Gothic";
    color: #454545;
}

.news-post {
    margin-top: 16px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 65px;
    font-size: 16px;
    font-family: "Open Sans Light";
    line-height: 24px;
}

.news-post h1 {
    font-family: "Open Sans";
    font-weight: 700;
    letter-spacing: 1px;
}

.news-post-1 {
    background: url("../img/news-post-logo-1.png") no-repeat;
}

.news-post-2 {
    background: url("../img/news-post-logo-2.png") no-repeat;
}

.news-post-3 {
    background: url("../img/news-post-logo-3.png") no-repeat;
}

.news a {
    display: block;
    margin-top: 23px;
    margin-right: 20px;
    font-size: 18px;
    font-family: "League Gothic";
    color: #454545;
    text-align: right;
    text-decoration: none;
}

.clients {
    padding: 24px 0;
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid white;
}

.clients-logo {
    text-align: center;
}

.clients-logo__item {
    display: inline-block;
    padding-right: 62px;
    vertical-align: middle;
}

.clients-logo__item:last-child {
    padding: 0;
}

.footer-top {
    background-color: #ededed;
    border-top: 2px solid #d9d9d9;
}

.footer-top-box {
    padding-top: 95px;
    padding-bottom: 98px;
}

.pingbuller {
    float: left;
    padding-right: 53px;
    width: 285px;
}

.pingbuller__title {
    color: #454545;
    font-size: 48px;
    font-family: "League Gothic";
    letter-spacing: -1px;
}

.pingbuller__title span {
    color: #b9b9b9;
}

.pingbuller__remark {
    padding-top: 13px;
    font-size: 16px;
    font-family: Georgia;
    font-style: italic;
    color: #c5c5c5;
}

.pingbuller__content {
    padding-top: 13px;
    height: 113px;
    font-size: 16px;
    font-family: "Open Sans Light";
    color: #787878;
    line-height: 23px;
    overflow: hidden;
}

.recent-comments {
    float: left;
    width: 285px;
}

.recent-comments__title {
    color: #454444;
    font-size: 30px;
    font-family:  "League Gothic";
}

.recent-comments__content {
    padding-top: 12px;
    height: 161px;
    font-size: 16px;
    font-family: "Open Sans Light";
    line-height: 23px;
    color: #787878;
    overflow: hidden;
}

.news-categories {
    float: right;
    width: 283px;
}

.news-categories__title {
    color: #454444;
    font-size: 30px;
    font-family:  "League Gothic";
}

.news-categories__content {
    padding-top: 12px;
    height: 161px;
    font-size: 16px;
    font-family: "Open Sans Light";
    line-height: 23px;
    color: #787878;
    overflow: hidden;
}

.footer__bottom {
    background: url("../img/bg-footer.jpg") center center no-repeat;
    height: 114px;
    background-size: cover;
}

.menu--footer {
    float: left;
    margin-top: 47px;
}

.menu__item--footer {
    margin: 0;
}

.menu__link--footer {
    margin-right: 34px;
    padding-bottom: 0px;
    padding-left: 0;
    color: white;
    font-size: 20px;
}

.menu__link--footer:hover {
    border-bottom: none;    
}

.copyright {
    float: right;
    margin-top: 55px;
    font-size: 12px;
    font-family: "Open Sans Light";
    color: white;
    letter-spacing: 0.25px;
}

.copyright span {
    font-family: "Open Sans";
    font-weight: 700;
}